:root {
    --background: #fef6e4;
    --pink: #f582ae;
    --blue1: #001858;
    --blue2: #8bd3dd;
    --main: #f3d2c1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px;
    border-radius: 10px;
    border: solid 3px var(--blue1);
    background-color: var(--main);

    & h1 {
        margin-block: 20px;
        color: var(--blue1);
    }
    & h3 {
        margin-block: 0;
        color: var(--blue1);
    }
}

.app-divisor {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3px;
    background-color: var(--);
    border-radius: 100px;
    margin-block: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 65px;
}

.weather-div {
    display: flex;
    flex-direction: column;
}

.temp-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

    & select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }
}

.city-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & button, input {
        width: 100%;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        outline: none;
        color: var(--blue1);
        background-color: var(--pink);
        border: 2px solid var(--blue1);
        border-radius: 5px;
    }
}
